body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

* {
  padding: 0;
  box-sizing: border-box;
}

.header {
  background: url('/img/img1.png') no-repeat center;
  background-size: cover;
  height: 80vh;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  color: #fff;
  font-size: 40px;
}

.btn {
  border: 1px solid #fff;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

.services {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 30px;
}

.services h3 {
  margin: 2px;
  font-size: 22px;
  font-weight: 500;
  color: grey;
  font-style: bold;
}

.services h2 {
  margin: 2px;
  font-size: 30px;
  font-weight: 500;
  color: black;
  font-style: bold;
}

.services p {
  margin-right: 300px;
  font-size: 20px;
  font-weight: 22px;
  color: grey;
  font-style: italic;
  line-height: 30px;
  text-align: justify;
}

.services img {
  width: 500px;
  height: auto;
  max-width: 100vw;
}

@media screen and (max-width: 760px) {
  .header {
    max-height: 450px;
  }
  .title {
    font-size: 24px;
  }
  .btn {
    font-size: 16px;
    padding: 8px 12px;
  }
  .services {
    padding: 10px;
  }
  .services p {
    margin-right: auto;
  }
}